@model Church.Models.MealAttendance
@{
    ViewBag.Title = "MealAttendance";
    Layout = "~/Areas/Individuals/Views/Shared/_IndividualsLayout.cshtml";
}



<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="~/SweetAlert/sweetalert.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<style>
    .error {
        color: red;
    }
</style>


<style>
    .form-check-input {
        width: 17px; /* Adjust the width */
        height: 20px; /* Adjust the height */
        /* Optional: Add custom border and background color */
        border: 2px solid #007bff;
        border-radius: 50%;       
        cursor: pointer;
    }

    /* Styling for the label */
   

    .form-check-label {
        margin-left: 6px;
        
        margin-top: 6px;
        align-items: center;
    }
    .no-border {
    border: none;
    /* Optionally, you may also want to remove the focus outline */

}
</style>

<script src="~/scripts/jquery-1.10.2.min.js"></script>

<div id="content" class="content">
    <!-- begin row -->
    <div class="row">
        <div class="col-xl-12">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="form-validation-2">
                <!-- begin panel-heading -->
                <div class="panel-heading">
                    <h4 class="panel-title">Meal Attendance</h4>
                </div>
                <!-- end panel-heading -->
                <!-- begin panel-body -->

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="/Individuals/MealAttendance/SaveMealAttendance" id="frmMealAttendance" method="post" data-parsley-validate="true" enctype="multipart/form-data">
                                <div class="form-group row m-b-15">
                                    <label class="col-md-2 col-sm-2 col-form-label">Add Member<span style="color:red"></span></label>
                                    <div class="col-md-8 col-sm-8">
                                        @*@Html.TextBox("MealQuestion", ViewBag.MealAttendanceQ as string, new { @class = "form-control no-border", id = "MealQuestion", required = "required",@readonly="readonly" })*@
                                        @Html.DropDownListFor(m => m.FamilyMemberFid, new SelectList(ViewBag.GetMemberNames, "FID", "IND_Name"), "--Select--", new { @class = "select2 m-b-10 select2-multiple", id = "FamilyMemberFid", multiple = "multiple", style = "width:100%" })
                                    </div>
                                </div>
                                @*<div class="form-group row m-b-15">
                                    <label class="col-md-2 col-sm-2 col-form-label"><span style="color:red"></span></label>
                                    <div class="col-md-8 col-sm-8">
                                        <div class="form-check">
                                            @Html.RadioButton("MealAnswer", true, new { id = "Option1", @class = "form-check-input" })
                                            <label for="Option1" class="form-check-label">Yes</label>
                                        </div>
                                        <div class="form-check">
                                            @Html.RadioButton("MealAnswer", false, new { id = "Option2", @class = "form-check-input" })
                                            <label for="Option2" class="form-check-label">No</label>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="form-group row m-b-15">
                                    <label class="col-md-2 col-sm-2 col-form-label">Remark<span style="color:red"></span></label>
                                    <div class="col-md-8 col-sm-8">
                                        @Html.TextArea("Remark", new { @class = "form-control", id = "MealRemark", @placeholder = "Remark", @required = "required" })
                                    </div>
                                </div>
                                <hr />
                                <div class="text-center">
                                    <button type="submit" id="btnSave" class="btn btn-sm btn-primary m-r-5">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>

<script>
    $(document).ready(function () {
        debugger
        var Message=@(Html.Raw(Json.Encode(TempData["Message"])));
        var Icon=@(Html.Raw(Json.Encode(TempData["Icon"])));
        if (Message!=null) {
            if(Icon!=null)
            {
                Swal.fire({
                    title: '',
                    text: Message,
                    icon: Icon,
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'Ok'
                });
                //swal("",Message,Icon);
            }

        }

        $("#FamilyMemberFid").select2();
        multiple=true;

    });

</script>


