
@{
    Layout = null;
}


@{
    ViewBag.Title = "ErrorPage";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error </title>

    <!-- ================== BEGIN core-css ================== -->
    <link href="~/assets/css/vendor.min.css" rel="stylesheet" />
    <link href="~/assets/css/default/app.min.css" rel="stylesheet" />
    <!-- ================== END core-css ================== -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- END error -->
    <style>
        .error {
            position: relative;
            font-family: 'Montserrat', sans-serif;
        }

        /*.blink_me {
            animation: blinker 2s linear infinite;
        }

        @@keyframes blinker {
            50% {
                opacity: 0;
            }
        }

        .btnpress:active {
            transform: translateY(4px);
        }*/

        .error-card {
            position: absolute;
            background: #fff;
            width: 800px;
            border-radius: 20px;
            padding: 40px;
            left: 0;
            right: 0;
            margin: auto;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
        }

        .card-bx .card-img {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .card-img img {
            width: 250px;
        }

        .error .card-content {
            margin: 20px 0;
        }

        .card-content h3 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 800;
            letter-spacing: -1px;
            margin-bottom: 10px;
            color: red;
        }

        .card-content .errorMsg .title {
            font-size: 18px;
            width: 100%;
            font-weight: 800;
        }

        .card-content .errorMsg .msg {
            font-size: 16px;
            margin: 10px;
            font-weight: 600;
        }

        @@media only screen and (min-width: 768px) {
            .error-card {
                width: 500px;
            }
        }

        @@media only screen and (max-width: 600px) {
            .error-card {
                width: 350px;
            }
        }

        @@media only screen and (min-width: 1200px) {
            .error-card {
                width: 800px;
            }
        }
    </style>

</head>

<body class='pace-top'>
    <!-- BEGIN #loader -->
    <div id="loader" class="app-loader">
        <span class="spinner"></span>
    </div>
    <!-- END #loader -->
    <!-- BEGIN #app -->
    <div id="app" class="app">
        <!-- BEGIN error -->
        <div class="error">
            <div class="error-code"></div>
            <div class="error-content">
            </div>
            <div class="error-card">
                <div class="card-bx">
                    @*<div class="card-img">

                        <img src="~/assets/img/error/notFoundbank.png" alt="NotFound">
                    </div>*@
                    <div class="card-content">
                        <h3>Something Went Wrong</h3>

                        <div class="errorMsg">
                            <div class="title">
                                Error
                            </div>

                            <div class="blink_me msg">
                                <span>@Session["GetErrorMessage"]</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-btn">
                        <a href="javascript:void(0);" onclick="history.go(-1);"><input type="button" class="btn btn-primary btnpress" value="Okay"></a>
                    </div>
                </div>
            </div>

        </div>
        <!-- END error -->
        <!-- BEGIN scroll-top-btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top"
           data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>
        <!-- END scroll-top-btn -->
    </div>
    <!-- END #app -->
    <!-- ================== BEGIN core-js ================== -->
    <script src="~/assets/js/vendor.min.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <!-- ================== END core-js ================== -->
</body>

</html>


